* {
  margin: 0;
  padding: 0;
  background-color: #000000;
  color: #ffffff;
  font-family: "futura-pt", sans-serif;
  font-weight: 500;
  font-style: normal;

}

html {
  scroll-padding-top: 6rem;
  padding-top: 16rem;
}

body {
  background-color: #000000;
}

h1 {
  font-family: "futura-pt", sans-serif;
  font-weight: 700;
  font-style: normal;
}

#img {
  background-color: #000000;

  height: 100%;
}

#construccion {
  background-color: #000000;

  color: #3c3d3c;
  text-align: center;
  font-style: normal;
  font-size: 4rem;
  font-weight: 700;
  font-family: 'Futura', sans-serif;
}

.sunset_btn {
  background-color: #e28029;
  border: none;
  color: #ffffff;
  font-family: "futura-pt", sans-serif;
  font-weight: 700;
  font-style: normal;
}


.sunset_btn:active {
  background-color: #d53b31;
  color: #d53b31;
  border: none;
}

.sunset_btn:hover {
  background-color: #e28029;
  color: #ffffff;
  border: none;
  box-shadow: 0 0.4rem 0.6rem 0 rgba(255, 255, 255, 0.24), 0 0.4rem 0.80rem 0 rgba(255, 255, 255, 0.19);
}


.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #d53b31;
  --bs-btn-border-color: #d53b31;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #d53b31;
  --bs-btn-hover-border-color: #d53b31;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #d53b31;
  --bs-btn-active-border-color: #d53b31;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #d53b31;
  --bs-btn-disabled-border-color: #d53b31;
}


/*
@media only screen and (max-width: 1100px) {
  #img {
    height: auto;
    background-color: #000000;

  } 
*/